<h2>Olá {{name}},</h2>

Utilize este Token para alterar sua senha: <b>{{ token }}</b>
</p>
<p>Caso não tenha sido você que fez a solicitação, favor descartar o e-mail</p>
<p>
  <strong>Vedas Sistemas</strong>
</p>